<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
  <div>
    <% if ( user_id ) { %>
      User ID: <%= user_id %>
      <form method="POST" action=<%= "/logout"%> > <button type="submit">Logout</button></form>
    <% } else { %>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    <% } %>
  </div>
</head>
</html>