<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
    <h2>Shortened URL for  <%= original %></h2>
<ul>
    <%= shortURL %>
</ul>
<a href=''> Create new TinyURL </a>
</body>
</html>