<!DOCTYPE html>
<html lang="en">
<head>
  <%- include partials/_header.ejs %>
</head>
<body>
  <% if (user_id) { %>
    <h2>Original and shortened URLs</h2>
  <% } %>
<ul>
    <% for (var url in urls) { %>
      <% if (urls[url].userid === user_id) { %>
        <li><%= url %> - <%= urls[url].longURL %>
        <form method="POST" action=<%= "/urls/" + url + "/delete?_method=DELETE" %> > <button type="submit">Delete URL</button></form>
        </li>
      <% } %>
    <% }; %>
</ul>
<a href='/urls/new'> Create new TinyURL </a>
</body>
</html>